html{
    min-height: 100%;
    background-color: #121212;
    color:rgb(182, 193, 203);
    font: 1rem Arial, sans-serif;
}

body {
    max-width: 1000px;
    margin: 3.6% auto;
}

header {
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color:rgb(182, 193, 203);
    font-family: 'Silkscreen', sans-serif;
    font-size: 3rem;
    border-bottom: 0.02rem solid rgb(182, 193, 203);
    margin: 0px;
}

.navbar-container {
    margin-top: 3.8rem;
    border-radius: 1.2rem;
    padding: 0.4rem;
    border: 0.085rem solid rgb(2, 202, 42);
}

.index-header {
    font-size: large;
    padding-left: 0.4rem;
    color:rgb(2, 202, 42);
    font-variant: all-small-caps;
    text-decoration: underline;
    margin: 0.4rem 0;
}

.navlink {
    list-style: none;
    padding-left: 1.6rem;
}

.navlink li {
    margin-bottom: 0.8rem;
}

.navlink li::before {
    content: "\2022";
    color:rgb(2, 202, 42);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

a {
    text-decoration: none;
    color: rgb(2, 202, 42);
}

a:hover {
    text-decoration: underline;
}

.neumorphic-box {
    border-radius: 1.2rem;
    background-color: #121212;
    box-shadow: inset 6px 6px 6px #0f0f0f,
                inset -6px -6px 3px #141414;
    align-content: center;
    padding: 1rem;
}

.section-content {
    max-width: 80ch;
    margin: auto;
}

.image-container {
    align-self: center;
    margin-bottom: 2.6rem;
    border-radius: 1.2rem;
    padding: 0.4rem;
    border: 0.085rem solid rgb(2, 202, 42);
}

img {
    border-radius: 0.8rem;
    display: block;
}

p {
    margin: 1.3rem auto;
}

code {
    color: rgb(2, 202, 42);
    letter-spacing: 0.04rem;
}

#signature-line {
    margin: 0.4rem;
    font-size: small;
}

h2 {
    color:rgb(2, 202, 42);
    font-size: 2.4rem;
    font-family: sans-serif;
    border-bottom: 0.02rem solid rgb(2, 202, 42);
    margin-top: 4rem;
    margin-bottom: 3rem;
}

h3 {
    color:rgb(2, 202, 42);
    font-size: 1.6rem;
    font-family: sans-serif;
    border-bottom: 0.02rem solid rgb(2, 202, 42);
    margin-top: 4rem;
    margin-bottom: 3rem;
}

h4 {
    color:rgb(2, 202, 42);
    font-size: 1.2rem;
    font-family: sans-serif;
    border-bottom: 0.02rem solid rgb(2, 202, 42);
    margin-top: 4rem;
    margin-bottom: 3rem;
}
